.section1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  font-family: var(--primary-font-family);
  color: var(--accent-headings);
}

.section1 img {
  width: 40%;
}

.section1Right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section1RightHeading {
  font-weight: 100;
  font-size: 1.8em;
  letter-spacing: 0.2em;
  padding-bottom: 20px;
}

.section1Right p {
  width: 100%;
  font-family: var(--secondary-font-family);
  font-size: min(0.875rem, 1rem + -0.14vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section1Btn {
  width: 100%;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: solid 1px var(--primary-headings);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  color: var(--primary-headings);
  cursor: pointer;
}

.section1Btn:hover {
  background-color: var(--primary-headings);
  color: var(--button-text-hover);
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .section1 {
    flex-direction: column;
    gap: 1em;
  }

  .section1 img {
    width: 100%;
  }

  .section1Right {
    width: 100%;
  }

  .section1Btn {
    height: 10vw;
  }
}
