main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  align-items: center;
  width: 100vw;
}

.homePageSection1 {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 99vw;
}

.homePageSection2 {
  max-width: 100vw;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.section2Img {
  width: 25%;
}

.homePageBookASessionBtn {
  padding: 1.5em 7em;
  margin: 5em 0;
  border-radius: 2px;
  border: solid 1px var(--primary-headings);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  color: var(--primary-headings);
  cursor: pointer;
}

.homePageBookASessionBtn:hover {
  background-color: var(--primary-headings);
  color: var(--button-text-hover);
  transition: 0.5s;
  cursor: pointer;
}

.homePageSection3 {
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.homePageSection3ImageLarge {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section3ImgLarge {
  width: 90%;
}

.homePageSection3ImagesSmall {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

.section3ImgSmall {
  width: 25%;
}

.homePageText {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-headings);
  font-size: 2em;
  text-align: center;
  opacity: 70%;
}

#section4ImgLarge {
  width: 90%;
}

@media screen and (max-width: 1023px) {
  .homePageSection2 {
    flex-direction: column;
  }

  .section2Img {
    width: 75%;
  }

  .homePageSection3 {
    gap: 1em;
  }

  .homePageSection3ImagesSmall {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .section3ImgSmall {
    width: 90%;
  }
}
