main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  align-items: center;
  width: 100vw;
}

.homePageSection1 {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 99vw;
}

.homePageSection2 {
  max-width: 100vw;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.section2Img {
  width: 25%;
}

.homePageBookASessionBtn {
  padding: 1.5em 7em;
  margin: 5em 0;
  border-radius: 2px;
  border: solid 1px var(--primary-headings);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  color: var(--primary-headings);
  cursor: pointer;
}

.homePageBookASessionBtn:hover {
  background-color: var(--primary-headings);
  color: var(--button-text-hover);
  transition: 0.5s;
  cursor: pointer;
}

.homePageSection3 {
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.homePageSection3ImageLarge {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section3ImgLarge {
  width: 90%;
}

.homePageSection3ImagesSmall {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

.section3ImgSmall {
  width: 25%;
}

.homePageText {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-headings);
  font-size: 2em;
  text-align: center;
  opacity: 70%;
}

#section4ImgLarge {
  width: 90%;
}

.sliderSection {
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: center;

  width: 90vw;
}

.slidesDiv1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.imgDiv {
  opacity: 0;
  transition-duration: 1s ease;
}

.imgDiv.active {
  opacity: 1;
  transition-duration: 1s ease;
  transform: scale(1.08);
}

.currentImgLg {
  height: 80vh;
}

.slidesDiv2 {
  height: 12vh;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slidesDiv2 img {
  height: 10vh;
  opacity: 0.6;
  transition: 1s ease;
}

.slidesDiv2 img:hover {
  opacity: 1;
  cursor: pointer;
  height: 12vh;
  transition: 1s ease;
}

.arrow {
  font-size: 1em;
  transition: 1s ease;
}

.arrow:hover {
  cursor: pointer;
  font-size: 1.5em;
  transition: 1s ease;
}

@media screen and (max-width: 1023px) {
  .homePageSection2 {
    flex-direction: column;
  }

  .section2Img {
    width: 75%;
  }

  .homePageSection3 {
    gap: 1em;
  }

  .homePageSection3ImagesSmall {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .section3ImgSmall {
    width: 90%;
  }

  .sliderSection {
    height: 80vh;
  }

  .currentImgLg {
    width: 80vw;
    height: unset;
  }
  .slidesDiv2 {
    justify-self: flex-end;
    height: 12vh;
    width: 90vw;
  }
  .slidesDiv2 img {
    height: 5vh;
  }

  .slidesDiv2 img:hover {
    height: unset;
  }
}
