:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;

  --primary-background: #f6f5f1;
  --primary-headings: #74605a;
  --primary-paragraphs: #6c6c6c;
  --primary-details: #d3c8c4;
  --accent-background: #e8e3df;
  --accent-headings: #74605a;
  --accent-paragraphs: #6c6c6c;
  --accent-details: #c5bab6;
  --button-background: #967f78;
  --button-text: #ffffff;
  --button-background-hover: #826b64;
  --button-text-hover: #ffffff;
}

body {
  width: 100%;
}

.navBarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-headings);
  padding: 0em 3em;
  height: 100px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-headings);
  width: 100%;
  font-size: 0.8em;
  height: 100px;
}

.smallNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-headings);
  width: 100%;
  font-size: 0.8em;
  height: 100px;
}

.navBar-links {
  font-family: "Montserrat", sans-serif;

  color: var(--primary-headings);
  text-decoration: none;
}

.navBar-links:hover {
  color: var(--accent-details);
  transition: 0.5s;
  cursor: pointer;
}

.navBarMenuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--primary-headings);
  font-size: 2em;
}

.navBarMenuBtn:hover {
  color: var(--accent-details);
  transition: 1s;
  cursor: pointer;
}

ul {
  padding-inline-start: 0;
}

.navBarOpenContainer {
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
}

.navBarOpenMenu {
  margin: auto;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--accent-background);
  font-size: 1em;
  height: 105vh;
}

.navBarCloseBtn {
  z-index: 11;
  position: absolute;
  top: 100px;
  right: 50px;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: var(--primary-headings);
  transition-timing-function: ease-in;
}

.navBarCloseBtn:hover {
  color: var(--accent-details);
  transition: 1s;
  cursor: pointer;
}

.navBarOpenLinks {
  font-size: 0.5em;
}

#navBar-decor {
  padding: 0 1em;
}

#navBar-title-big {
  display: flex;
  gap: 1.2em;
  padding: 0 10%;
}

#navBar-title-small {
  display: flex;
  gap: 0.5em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.footerDiv {
  padding: 0 0 0 4em;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-headings);
  opacity: 90%;
  font-size: 0.8em;
}

.scrollBtn {
  align-self: flex-end;
  border: none;
  margin: 0 2em 0 0;
  background: transparent;
  color: var(--primary-headings);
  font-size: 1.5em;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .navBarHeader {
    padding: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .footerDiv {
    padding: 0 0 0 0;
  }

  .scrollBtn {
    margin: 0;
  }

  .scrollBtn {
    align-self: unset;
  }
}
