main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bannerSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 90vw;
  height: 50vh;
  background-image: url("../../../public/kindWordsPage/bannerImg.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.bannerText {
  width: 40%;
  font-size: 2em;
  font-weight: 200;
}

.bannerLink {
  text-decoration: none;
  padding: 10px 50px;
  border: #fff 1px solid;
  color: #fff;
}

.bannerLink:hover {
  color: var(--primary-headings);
  background-color: #fff;
  transition: 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .banner {
    height: 30vh;
  }

  .bannerText {
    font-size: 1em;
    width: 60%;
  }
}
